{% extends "layout.html" %}

{% block title %}
    Album - User Name
{% endblock %}

{% block main %}
    <div class="page-title">
        <h2>My Album</h1>
    </div>

    <div class="button-row">
        <a href="/createalbum">
            <button type="button" class="btn btn-primary btn-sm">Create Album</button>
        </a>
    </div>

    <!-- Grid row -->
    <div class="card-columns">
        {% if len == 0 %}
            <h6 class="pagecontent">You have not created any albums.</h6>
        {% endif %}

        {% for i in range(0, len) %}
            <div class="card">
                <a href="/album/{{ rows[i]["albumid"] }}" data-size="1600x1067">
                    {% if rows[i]["imagecount"] == 0 %}
                        <img class="card-img-top" src="/static/album_cover.jpg" alt="Default Album Cover">
                    {% else %}
                        {% for k in range(0, imagelen) if image[k]["albumid"] == rows[i]["albumid"] %}
                            {% if loop.index <= 1 %}
                                <img class="card-img-top" src="/static/uploads/{{image[k]["savename"]}}" alt="{{image[k]["savename"]}}">
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                <a/>
                <div class="card-body">
                    <h5 class="card-title">{{ rows[i]["albumname"] }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>



{% endblock %}