{% extends "layout.html" %}

{% block title %}
    {{ rows[0]["albumname"] }} - {{ rows[0]["userid"] }}
{% endblock %}

{% block main %}
    <div class="page-title">
        <h2>{{ rows[0]["albumname"] }}</h1>
    </div>

    <!-- Grid row -->
    <!-- https://mdbootstrap.com/plugins/jquery/gallery/-->
    <div class="gallery" id="gallery">

      <!-- Grid column -->
      {%for image in image%}
          <a href='/static/uploads/{{image}}' data-size="1600x1067">
              <div class="mb-3 pics animation all 2">
                  <img class="img-fluid" src='/static/uploads/{{image}}'/ alt="Card image cap">
              </div>
          </a>
      {%endfor%}

    </div>
    <!-- Grid row -->

    <!-- Javascript Codes

    $(function() {
    var selectedClass = "";
    $(".filter").click(function(){
    selectedClass = $(this).attr("data-rel");
    $("#gallery").fadeTo(100, 0.1);
    $("#gallery div").not("."+selectedClass).fadeOut().removeClass('animation');
    setTimeout(function() {
    $("."+selectedClass).fadeIn().addClass('animation');
    $("#gallery").fadeTo(300, 1);
    }, 300);
    });
    });

    -->

{% endblock %}